<h2>Current Wind conditions in DTSP St. Pete & Lassing Park</h2>

Latest Wind Speed: <br>
<%= @wind.speed %><br><br>

Latest Wind Gust: <br>
<%= @wind.gust %><br><br>

Latest Direction: <br>
<%= @wind.direction %><br><br>

<%= button_tag 'Tweet current conditions', id: "tweet-conditions-btn" %><br><br>
<div id="tweet">

</div>